# Import the libraries to use

In [8]:
#Import system manupulation libraries
import os
import shutil

#Import data manipulation libraries
import numpy as np
import pandas as pd

# Division of data
The data that will be used in the experiment was found in Kaggle (2019) in a package called "aerial-cactus-identification.zip". The data was extracted in the path "../data/raw" and it contained:
* Two zip folders called "train.zip" and "test.zip", both containing the images recollected by <cite >(E. López-Jiménez, et al., 2019)</cite>
* A csv file called "train.csv", which contains the list of images names with the class it corresponds to, from the "train.zip" package.
* A csv file called "sample_submission.csv", which the names of the images in "test.zip"
Both, "test.zip" and "sample_submission.csv" will be both ignored for this project.

For dividing the data, we will start by:
* Extracting the "train.zip" package.
* Reading the "train.csv" file in order to look at the data which will be use for the experiments:

In [2]:
images_df = pd.read_csv('../data/raw/train.csv')
images_df.head()

                                     id  has_cactus
0  0004be2cfeaba1c0361d39e2b000257b.jpg           1
1  000c8a36845c0208e833c79c1bffedd1.jpg           1
2  000d1e9a533f62e55c289303b072733d.jpg           1
3  0011485b40695e9138e92d0b3fb55128.jpg           1
4  0014d7a11e90b62848904c1418fc8cf2.jpg           1

The columns can be explained like this:
* id: Name of the image
* has_cactus: A flag that indicates either if the image contains a cactus or not, being 0 = it doesn't have a cactus and 1 = has a cactus
## Separation of datasets
The images of the train package will be divided in two main dataframes called "validation" and "experiment". This division is done in order to have a control group of classified images for validation against overfitting as well as, the group of images in which the the experiment will be run.

To facilitate the division of dataframes `separate_dataframes` function was created. The function will separate the provided dataset in two dataframes based on the `separation_percentage` and the resulting dataframes will be shuffled if indicated:

In [3]:
def separate_dataframes(dataframe, separation_percentage, shuffle=False):
    manual_seed = 42
    separation_marker = int(len(dataframe) * separation_percentage)
    
    if shuffle:
        dataframe = dataframe.sample(frac=1, random_state = manual_seed)
    
    first_dataframe = dataframe.iloc[0:separation_marker]
    second_dataframe = dataframe.iloc[separation_marker:len(dataframe)]
    
    return first_dataframe, second_dataframe

### Separation of validation and experimental images
For the division of the validation and the experimental images group, a 0.1 percentage will be used, so the division will be:
* The validation group will be of the 10% of the provided images.
* The experiment group will consist on the 90% if the provided images.
* The groups will be shuffled

In [4]:
validation_images_df, experiment_images_df = separate_dataframes(images_df, 0.1, shuffle=True)
validation_images_df.shape, experiment_images_df.shape

((1750, 2), (15750, 2))

In [5]:
experiment_images_df.head()

                                         id  has_cactus
8270   76bf341d7df751ef80b909162d14c607.jpg           0
6827   624ec1063478e4139276c34bef65f1c1.jpg           1
5714   526e960fe6f98ced0232209623e0a2e6.jpg           1
10268  93e1cdb4f20c07ae49801e4e40fdfced.jpg           1
4040   38a695da227092bceca0003c32e0e49e.jpg           1

In [6]:
validation_images_df.head()

                                         id  has_cactus
1411   13f46a0f794649dad695a7e411bc8cd6.jpg           0
7555   6cab3d7c31c2ce21c3b404892657ecb7.jpg           0
4930   46a1b5d08220741fc8a4a53e1069df6a.jpg           0
10054  90dcaf29c59df190744450761c5eae9b.jpg           1
2714   26142c37accad5e00f8b55d7cb8f9fb7.jpg           1

### Separation of training and test images
The experiment images will also be divided into training and test, for that a 0.2 percent will be used for the division, and the groups will consist on:
* Test group will consist on the 20% of the experiment images.
* Train group will consist on the 80% of the experiment images.
* Groups will not be shuffled.

In [7]:
test_df, train_df = separate_dataframes(experiment_images_df, 0.2)
test_df.shape, train_df.shape

((3150, 2), (12600, 2))

In [8]:
test_df.head()

                                         id  has_cactus
8270   76bf341d7df751ef80b909162d14c607.jpg           0
6827   624ec1063478e4139276c34bef65f1c1.jpg           1
5714   526e960fe6f98ced0232209623e0a2e6.jpg           1
10268  93e1cdb4f20c07ae49801e4e40fdfced.jpg           1
4040   38a695da227092bceca0003c32e0e49e.jpg           1

In [9]:
train_df.head()

                                         id  has_cactus
1801   1937d8278a8c1c58b30898c8d1ea6685.jpg           1
4756   43f3e47323b9c6df111abf570872980f.jpg           1
16222  ecc886298e55127281cca7de6a12a6b9.jpg           1
15119  dc6bf70a7d30760d559477973d525915.jpg           1
530    07ba973d4f1a3f7ace8df35caaec3085.jpg           0

# Export images by category
To preserve the original set of images, the images will be transfered into the folder path "../data/interim".

The export process will be done based on the division of the dataset previously done. For that, the following paths were defined:

In [9]:
#Get relative directory
project_dir = os.path.dirname(os.getcwd())

#New paths for the images
original_path = os.path.join(project_dir,'data/raw/train/')
new_val_path = os.path.join(project_dir,'data/interim/validation')
new_test_path = os.path.join(project_dir,'data/interim/experiment/test/')
new_train_path = os.path.join(project_dir,'data/interim/experiment/train/')

For exporting the images, the dataset with the images names will be provided with the original and new path where they will be exported. If a flag is provided, the images:
* New folders will also be added with the names 'has_cactus' and 'no_cactus'. This is done in order to take advantage of a tool that will be use when the images are loaded.
* The images will be divided into these new folders depending on the value of the 'has_cactus' column in the dataset.

In [42]:
def export_images(dataset, original_path, new_path, flag=None):
    if flag is not None:
        category1_path = os.path.join(new_path, 'has_cactus')
        os.makedirs(category1_path)
        print(f'Dif: {category1_path} created.')
        category2_path = os.path.join(new_path, 'no_cactus')
        os.makedirs(category2_path)
        print(f'Dif: {category2_path} created.')
    for row in dataset.itertuples(index=False):
        if flag is None:
            shutil.copyfile(os.path.join(original_path, row[0]), os.path.join(new_path, row[0]))
        elif row[1] == flag:
            shutil.copyfile(os.path.join(original_path, row[0]), os.path.join(category1_path, row[0]))
        else:
            shutil.copyfile(os.path.join(original_path, row[0]), os.path.join(category2_path, row[0]))

## Validation Images Export
Exporting the image control group into the "validation" path

In [39]:
import time
start_time = time.time()

os.makedirs(new_val_path)
export_images(validation_images_df, original_path, new_val_path)

finish_time = time.time()
print(f'Validation export lasted: {finish_time-start_time} seconds.')

Validation export lasted: 11.698983907699585 seconds.

## Experiment Images Export

### Training Images Export
Exporting the images to be used in training the model.

In [44]:
import time
start_time = time.time()

os.makedirs(new_train_path)
export_images(train_df, original_path, new_train_path, flag=1)

finish_time = time.time()
print(f'Validation export lasted: {finish_time-start_time} seconds.')

Dif: /home/jascrer/TFM/TFM_DL_CNN_Codigo_SeguraCampos/tfm_dl-cnn_codigo_seguracampos/data/interim/experiment/train/has_cactus created.
Dif: /home/jascrer/TFM/TFM_DL_CNN_Codigo_SeguraCampos/tfm_dl-cnn_codigo_seguracampos/data/interim/experiment/train/no_cactus created.
Validation export lasted: 0.8234012126922607 seconds.

### Test Images Export
Exporting the images to be used in testing the model.

In [45]:
import time
start_time = time.time()

os.makedirs(new_test_path)
export_images(test_df, original_path, new_test_path, flag=1)

finish_time = time.time()
print(f'Validation export lasted: {finish_time-start_time} seconds.')

Dif: /home/jascrer/TFM/TFM_DL_CNN_Codigo_SeguraCampos/tfm_dl-cnn_codigo_seguracampos/data/interim/experiment/test/has_cactus created.
Dif: /home/jascrer/TFM/TFM_DL_CNN_Codigo_SeguraCampos/tfm_dl-cnn_codigo_seguracampos/data/interim/experiment/test/no_cactus created.
Validation export lasted: 21.048335552215576 seconds.

# References
* Aerial Cactus Identification. (2019, 8 march). Kaggle. from https://www.kaggle.com/c/aerial-cactus-identification/overview
* López-Jiménez, Efren; Vasquez-Gomez, Juan Irving; Sanchez-Acevedo, Miguel Angel; Herrera-Lozada, Juan Carlos; Uriarte-Arcia, Abril Valeria (2019); “Columnar Cactus Recognition in Aerial Images using a Deep Learning Approach”. Ecological Informatics. 52. 131-138.